<div class="container mx-auto my-8 px-4">
  <div class="max-w-3xl mx-auto">
    <div class="flex justify-between items-center mb-4">
      <h1 class="h3"><%= link_to "Messages", messages_path %> > Message #<%= @message.id %></h1>
      <%= link_to t("edit"), edit_message_path(@message), class: "btn btn-link" %>
    </div>

    <div class="bg-white rounded shadow p-8">
          </div>
  </div>
</div>
